body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(58, 62, 66);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: lightgray
}

.link:hover {
  color: white;
  background-color: #2f3335;
}

.link:active {
  background-color: #8698a0;
}

.login:hover {
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}